amqp
argon2-cffi
asgiref
async-generator
attrs
backcall
billiard
bleach
celery
certifi
cffi
chardet
click
click-didyoumean
click-plugins
click-repl
cycler
decorator
defusedxml
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
djongo
entrypoints
idna
inflect
ipykernel
ipython
ipython-genutils
jedi
Jinja2
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
kombu
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandocfilters
pandas
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
PyJWT
pymongo
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
redis
requests
Send2Trash
six
sqlparse
terminado
testpath
tornado
traitlets
urllib3
uWSGI
vine
wcwidth
webencodings